    body {
        display: flex;
        font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
        flex-direction: column;
    }
    .align-page {
        align-items: center;
    }
    * {
        box-sizing: border-box;
    }
    
    .section-1 {
        height: 800px;
        width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    
    .container-2 {
        display: flex;
        flex-direction: row;
        height: 250px;
        flex-flow: nowrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    
    .wrapper-1,
    .wrapper-2,
    .wrapper-3 {
        display: flex;
        flex-direction: row;
        height: 250px;
        flex-wrap: wrap;
    }
    /* Style the links inside the navigation bar */
    
    .section-1 {
        width: 100%;
        height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        align-content: flex-end;
        margin-left: 70px;
        background: linear-gradient(105deg, white 50%, #F6B400 0%);
        background-color: #F6B400;
    }
    
    .topnav {
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        flex-direction: row;
        float:right;
    }
    /* Change the color of links on hover */
    
    .order-now {
        width: 100px;
        height: 40px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #F6B400;
        border-color: white;
        margin-top: 100px;
        margin-left: 75px;
        flex-direction: row;
    }
    
    .notification {
        position: relative;
        padding-top: 17px;
        padding-left: 90px;
    }
    
    .Home {
        text-align: left;
        padding-top: 25px;
        margin-left: 300px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
    }
    
    .Offers {
        position: relative;
        text-align: right;
        padding-top: 25px;
        padding-right: 30px;
        padding-left: 30px
    }
    
    .Contact {
        position: relative;
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        padding-top: 25px;
        padding-right: 30px;
        padding-left: 30px
    }
    
    .About {
        text-align: right;
        padding-top: 25px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .photo {
        /* position: absolute; */
        height: auto;
        width: auto;
        max-width: 250px;
        max-height: 250px;
    }
    
    .section-3 {
        text-align: center;
        margin: 10px;
        height: 100vh;
    }
    
    .cart-order-1,
    .cart-order-2,
    .cart-order-3,
    .cart-order-4,
    .cart-order-4,
    .cart-order-5,
    .cart-order-6 {
        justify-content: center;
        height: auto;
        padding: 10px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.904);
        border-radius: 5px;
        margin: 0 30px 0 30px;
        box-shadow: 1px 1px 1px 1px;
    }
    
    .logo {
        text-align: left;
        padding-top: 25px;
        position: relative;
        font-weight: 800;
    }
    
    .cards-section {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }

    .section-4 {
        display: flex;
        width: 90vw;
        height: 40vw;
        justify-content: center;
        align-items: center;
    }
    .photo-section4{
        height: 550px;
        width: 550px;
    }
    .advert{
        font-size: 75px;
        color: cadetblue;
    }
    .ad-content{
        font-family: 'Courier New', Courier, monospace;
    }
    .text-content{
        margin-right: 40px !important;
    }
    .section-5{
        display: flex;
        background-color: rgb(202, 120, 13);
        background-size: 70%;
        height: 60vh;
        width: 100vw !important;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 0 150px 0 150px;
    }
    .description p {
        font-size: 50px;
        font-weight: 900;
    }
    .mobile1,.mobile2{
        height: 40px;
width: 50px;}
/*
.b-logo2 {
    position: absolute;
    left: 200px;
    top: 3720px;
}*/
.search-bar {
    position: absolute;
    left: 800px;
    top: 3800px;
}
.email {
    position: absolute;
    left: 800px;
    top: 3720px;
}
.copyright {
    position: absolute;
    left: 120px;
    top: 3850px
}
.designer {
    position: absolute;
    left: 840px;
    top: 3850px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 360px;
    top: 3700px;
}
.get-in-touch {
    position: absolute;
    top: 3860px;
    right: 580px;
}
.i{
    height: auto; 
    width: auto; 
    max-width: 16px; 
    max-height: 16px;
}
.Price {
position: relative;
font-size: 16px;
font-weight: 700;
}
.phone-1,.phone-2{
    height: 200px;
    width: 100px;
}
.pic{
    height: auto;
        width: auto;
        max-width: 250px;
        max-height: 250px;
        float:calc();
}